# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.log
# VSCode
.vscode/
# Sistema
Thumbs.db
# Produção
/build
/dist
# Outros
*.tmp
*.swp
# Arquivos de sistema
.idea/ 